html, body {
  height: 100%;
  margin: 0;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: black;
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
}

.background {
  position: absolute;
  z-index: -1000;
  right: 0;
  bottom: 0;
}

/*/////////     ---------------------------------     ////////////*/
/*/////////    |         UNIVERSAL CLASSES       |    ////////////*/
/*/////////     ---------------------------------     ////////////*/

.full-width {
  max-width:100%;
  margin: 0 auto;
  position: relative;
}

.full-width-content {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 3em;
}

.hidden {
  display: none;
}

.hero {
  color: black;
  height: 100%;
  overflow: auto;
}

.absolute {
  position: absolute;
}

.index-info {
  height: 30em;
/*  top: 50%;
  margin-top: -18em;*/
  margin-top: 5em;
}


.index-info-headline {
  font-size: 2em;
  margin-left: 0.5em;
}

.index-info-main {
  font-size: 1em;
  margin-left: 1em;
}

.index-info-buttons {

}

.index-info-footer {
  font-size: 1em;
  margin-left: 1em;
}

.index-info-footer span {
  font-weight: bold;
}

.index-demo {
  font-size: 1em;
  margin-left: 1em;
  font-style: italic;
}



.main {
  margin-top: -2em;
  height: 44em;
  padding: 0;
}


.main_profile {
  font-size: 1em;
}

.main_profile_header {
  font-size: 2em;
  color: #6a717f;
  margin-top: 1em;
}

.main_profile_info {
  font-size: 1.25em;
}

.main_profile_edit a, .main_profile_logout a {
  color: #4080ff !important;
}

.card .card-action .main_profile_logout a:not(.btn):not(.btn-large):not(.btn-floating), .card .card-action .main_profile_edit a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #0D47A1;
  font-size: 1.5em;
}

.card .card-action .main_profile_logout a:not(.btn):not(.btn-large):not(.btn-floating):hover, .card .card-action .main_profile_edit a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: #FFFFFF;
  font-size: 1.5em;
}

.main_appearances_headline {
  font-size: 2em;
  color: #6a717f;
  margin-top: 1em;
  margin-bottom: 0.7em;
}


.profile_main {
  height: 100%;
}

a:link {
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: white;
}

a:active {
  color: white;
}

.dropdown-content li > span {
  color: black;
}

div.picker__date-display {
  background-color: #505050;
}

.picker__weekday-display {
  background-color: black;
}

.picker__close, .picker__today {
  color: #505050;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    | UNIVERSAL MATERIALIZE OVERRIDES |    ////////////*/
/*/////////     ---------------------------------     ////////////*/


/* label focus color */
.input-field input[type=text]:focus + label, .input-field input[type=password]:focus + label {
     color: #000;
}

/* label underline focus color */
.input-field input[type=text]:focus,  .input-field input[type=password]:focus {
 border-bottom: 1px solid #000;
 box-shadow: 0 1px 0 0 #000;
}

.datepicker {
  color: black;
}

.card-content {
/*  background: no-repeat url('../images.png') 0 0;*/
  background-color: #EBEBEB;
  background-repeat: repeat;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: #FFFFFF;
}

input:not([type]).valid, input:not([type]):focus.valid, input[type=text].valid, 
input[type=text]:focus.valid, input[type=password].valid, input[type=password]:focus.valid, 
input[type=email].valid, input[type=email]:focus.valid, input[type=url].valid, input[type=url]:focus.valid, 
input[type=time].valid, input[type=time]:focus.valid, input[type=date].valid, input[type=date]:focus.valid, 
input[type=datetime].valid, input[type=datetime]:focus.valid, input[type=datetime-local].valid, 
input[type=datetime-local]:focus.valid, input[type=tel].valid, input[type=tel]:focus.valid, 
input[type=number].valid, input[type=number]:focus.valid, input[type=search].valid, 
input[type=search]:focus.valid, textarea.materialize-textarea.valid, 
textarea.materialize-textarea:focus.valid {
  border-bottom: 1px solid #4080FF;
  box-shadow: 0 1px 0 0 #4080FF;
}


textarea.materialize-textarea {
  min-height: 0.5rem;
  padding: 0;
}

input:not([type]):focus:not([readonly]),
input[type=text]:focus:not([readonly]),
input[type=password]:focus:not([readonly]),
input[type=email]:focus:not([readonly]),
input[type=url]:focus:not([readonly]),
input[type=time]:focus:not([readonly]),
input[type=date]:focus:not([readonly]),
input[type=datetime]:focus:not([readonly]),
input[type=datetime-local]:focus:not([readonly]),
input[type=tel]:focus:not([readonly]),
input[type=number]:focus:not([readonly]),
input[type=search]:focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #4080FF;
  box-shadow: 0 1px 0 0 #4080FF;
}

.input_field {
  margin-top: 0;
}

.input-field


/*/////////     ---------------------------------     ////////////*/
/*/////////    |          NAV BAR                |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.nav_bar {
  display: inline-block;
  float: none;
  position: relative;
  width: 100%;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  margin-bottom: 1em;
  background-color: none;
  padding-top: 3em;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
}

.nav_bar_menu {
  margin: 0 auto;
  display: inline-block;
}

.nav_bar_menu_item {
  display: inline-block;
  float: left;
}

.nav_bar_menu_item a {
  padding: 2em;
  color: black;
}

/* unvisited link */
.nav_bar_menu_item a:link {
  color: black;
}

/* visited link */
.nav_bar_menu_item a:visited {
  color: black;
}

/* mouse over link */
.nav_bar_menu_item a:hover {
  color: gray;
}

/* selected link */
.nav_bar_menu_item a:active {
  color: blue;
}

.home_headline {
  display: block;
  text-align: center;
  margin: 1em auto;
}

section {
  border: 0.1em solid black;
}

.home_info {
  font-size: 1.5em;
}

.home_links {
  margin: 2em;
  font-size: 1.5em;
  letter-spacing: 0.2em;
  text-align: center;
  overflow: auto;
}

.home_links a:link {
  color: black;
}

.home_links a:visited {
  color: black;
}

.hero_links a:hover {
  color: gray;
}

.hero_links a:active {
  color: black;
}

.home_signup {
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.2em;
  background-color: #4080ff;
  color: white;
}

.home_signin {
  padding: 0.5em;
  margin: 1em;
  border-radius: 0.2em;
  background-color: white;
  border: 0.15em solid #4080ff;
  color: #4080ff;
}


/*/////////     ---------------------------------     ////////////*/
/*/////////    |            USER NAV             |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.user_nav {
  /*background-color: #444C5C;*/
  background-color: #2A3132;
  /*background-color: black;*/

  color: white;
  min-height: 5em;
}


.user_nav_logo {
  color: white;
  font-size: 3em;
/*  padding-top: 0.5em;
  padding-bottom: 0.5em;*/
}

.user_nav_links {

}

.user_nav_links a {
  margin-top: 1.25em;
}


.user_nav a:link {
  color: white;
}

.user_nav a:visited {
  color: white;
}

.user_nav a:hover {
  color: white;
}

.user_nav a:active {
  color: white;
} 


.user_nav_button {
  color: white;
}





/*/////////     ---------------------------------     ////////////*/
/*/////////    |              SIGNUP             |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.signup_headline {
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

.signup_form {
  background-color: white;
  border-radius: 0.4em;
  color: black;
}

.signup_fields {
  padding: 2em;
}

.signup_info {
  border-left: 0.1em solid white;
}

.submit_button {
  padding: 0 auto;
}




/*/////////     ---------------------------------     ////////////*/
/*/////////    |              LOGIN              |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.login_headline {
  margin-top: 2em;
  font-size: 2em;
  text-align: center;
}

.login_form {
  background-color: white;
  border-radius: 0.4em;
  color: black;
}

.login_fields {
  padding: 1em;
}

.login_info {
  border-left: 0.1em solid white;
}

.login_submit, .login_submit:hover {
  background-color: #4080ff;
}




/*/////////     ---------------------------------     ////////////*/
/*/////////    |              HOME               |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.home {
  color: black;
  background-color: none;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |        CREATE APPEARANCES       |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.create_appearance {
  color: black;
  background-color: white;
}


/*/////////     ---------------------------------     ////////////*/
/*/////////    |        EDIT APPEARANCES         |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.edit_appearance_headline, .create_appearance_headline, .profile_headline {
  font-size: 3em;
  color: #6a717f;
  margin-bottom: 0.8em;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |        EDIT PROFILE             |    ////////////*/
/*/////////     ---------------------------------     ////////////*/


.btn, .btn-large {
  background-color: #4080FF;
}

.btn:hover, .btn-large:hover {
  background-color: #0D47A1;
}


/*/////////     ---------------------------------     ////////////*/
/*/////////    |              PROFILE             |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.profile_address {
  margin-left: 2em;
}

.profile_left {
  padding-left: 1em; 
}

.profile_right {
  color: red;
}

.profile_link {
  padding-left: 0.5em;
}

.profile_link:hover {
  border-left: 0.1em black solid;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |        APPEARANCE SEARCH        |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



/* overriding materialize height */
.select-wrapper input.select-dropdown {
  height: 4em;
}

.appearance_search {
  color: black;
  background-color: white;
  height: 5em;
  padding: 0 2em;
/*  margin-top: 2em;*/
}

.appearance_search_state {
  color: black;
  cursor: pointer;
}

.appearance_search_county {
  color: black;
  cursor: pointer
}

.appearance_search_date {
  line-height: 5em;
}

.appearance_search_submit {
  padding: 0 1em;
  line-height: 5em;
  overflow: auto;
}

.appearance_search_button {
  margin: 1em 0;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |    APPEARANCE SEARCH RESULTS    |    ////////////*/
/*/////////     ---------------------------------     ////////////*/



.appearance_search_results {
  min-height: 44em;
  overflow: scroll;
  padding: 0 2em;
}

.appearance_search_result {
  margin: 0;
  padding: 0;
}

.appearance_search_result_headline {
  background-color: #FFFFFF;
  background: linear-gradient( rgba(255, 171, 64, 1), rgba(255, 171, 64, 0.8) )
}

.appearance_result_box {
  padding-left: 2em;
  background-color: white;
}

.appearance_search_result_tease {
  margin: 0;
  padding: 0;
}

.appearance_search_result_box {
  margin: 1em;
}

.appearance_search_result_info {
  font-weight: bold;
  padding-left: 2em;
}

.appearance_search_result_info span {
  font-weight: normal;
}


.appearance_search_result_action {
  border-top: 0.1em solid black;
}

.search_result, .requested_appearance {
  min-width: 20em;
}

.search_result_info, .requested_appearance {
  font-weight: bold;
  font-size: 1em;
}

.search_result_info > div, .requested_appearance > div {
  font-weight: normal;
}

.search_result_appearanceDate, .requested_appearanceDate {
  position: absolute;
  background-color: #757575;
  margin-left: 1em;
  padding: 1em;
  color: white;
  z-index: 1000;
}

.search_result_appearanceNew, .requested_appearanceNew {
  color: blue;
}

.search_result_appearanceDay, .requested_appearanceDay {
  letter-spacing: 0.1em;  
}

.search_result_appearanceYear, .requested_appearanceYear {
  letter-spacing: 0.3em;
}

.search_result_accept_row, .requested_accept_row {

}

.search_result_info, .requested_info {
  font-weight: bold;
}

.search_result_info > div, .requested_info > div {
  font-weight: normal;
}

.search_result_courthouse, .requested_courthouse {
  max-height: 12em;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) )
}

.search_result_courthouse img, .requested_courthouse img {
  max-height: 12em;
}

.search_result .card-content, .search_result .card-content div, .requested .card-content, .requested .card-content div  {
  cursor: pointer;
}

.search_result_caseHeader, .search_result_appearanceTime, .search_result_courtName,  .search_result_place, .search_result_caseType, .search_result_appearanceType {
  height: 1.5em;
  overflow-y: scroll;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |           APPEARANCES           |    ////////////*/
/*/////////     ---------------------------------     ////////////*/


.card .card-content {
/*  padding: 1em 0.5em;*/
}

.appearance_header {
  margin: 1em auto;
}

.requested_appearance, .accepted_appearance {
  margin-bottom: 2em;
}

.requested_appearance > .card {
  border: 0.1em solid #2A3132;
}

.requested_appearance_top {
  text-align: center;
  font-weight: bold;
}

.requested_appearance_box, .accepted_appearance_box,  {
  padding-left: 2em;
  background-color: white;
}

.requested_appearance_key, .accepted_appearance_key {
  font-weight: bold;
  padding: 0.2em 0;
}

.requested_appearance_key span, .accepted_appearance_key span {
  font-weight: normal;
}

.requested_appearance_header, .accepted_appearance_header {
  background-color: #ffab40;
  background: linear-gradient( rgba(255, 171, 64, 1), rgba(255, 171, 64, 0.8) )
}


.requested_caseHeader {
  height: 1.5em;
  overflow:auto;
}

.requested_courtName {
  height: 1.5em;
  overflow:auto;
}

.requested_appearanceTime {
  height: 1.5em;
  overflow:auto;
}

.requested_place {
  height: 1.5em;
  overflow:auto;
}

.requested_appearanceTime {
  height: 1.5em;
  overflow:auto;
}

.requested_appearanceType {
  height: 1.5em;
  overflow:auto;
}

.card .card-action {

}

.card-action {
  overflow: auto;
}

.card-action > .row {
  margin-bottom: 0;
}


.card-action .btn:hover {
  background-color: #0D47A1;
  color: #FFFFFF;
}

.card-action .btn a:hover {
  color: #FFFFFF;
}

.requested_action {
  font-size: 1em;
}



.blue {
  background-color: blue;
}



/*/////////     ---------------------------------     ////////////*/
/*/////////    |        NAVIGATION FOR USERS     |    ////////////*/
/*/////////     ---------------------------------     ////////////*/


.nav_user_account_link {
  color: black;
  font-size: 0.8em;
}


/*/////////     ---------------------------------     ////////////*/
/*/////////    |        RESPONSIVE FOR USERS     |    ////////////*/
/*/////////     ---------------------------------     ////////////*/








@media only screen and (max-width: 760px) {


  .background {
    display: none;
  }
  
  .user_nav_logo {
    font-size: 3.75em;
    padding: 0.25em 0;
    text-align: center;
  }

  .index-info {
    margin-top: 2em;
  }

  .home_signup, .home_signin {
    font-size: 1.5em;
    margin: 0.5em 0;
  }

  .user_nav_links {
    font-size: 1em;
  }

  .user_nav_links a {
    padding: 0.5em 1em;
    height: 3.5em;
    line-height: 1.25em;
  }

  .edit_appearance_headline, .create_appearance_headline, .profile_headline, .main_appearances_headline {
    font-size: 2em;
    color: #2a3132;
  }


  .main_profile_card {
    box-shadow: none;
    margin: 0;
  }

  .main_profile {
    display: none;
  }

  .main_profile_top {
    border: 0.1em solid black;
    background-color: #a0a0a0
  }

  .main_profile_header {
    color: #2a3132;
  }

  .main_profile_card .card-action {
    border: 0.1em solid #a0a0a0;
  }


  .appearance_search_results {
    padding: 0 1em;
  }

  .appearance_search_panel {
    overflow: auto;
    height: 23em;
  }

  .appearance_search_button {
    margin-left: 1em;
  }

  .search_result {
    min-width: 0 !important;
    width: 100% !important;
  }


}

@media only screen and (max-width: 600px) {

  .user_nav_logo {
    font-size: 3em;
  }

  .main_profile_header {
    font-size: 1.75em;
  }

  .card .card-action {
    padding: 0.5em;
  }

  .input-field label {
    left: 0em;
  }

  .appearance_search_button {
    margin: 1em 0;
    padding: 0 1em;
  }

}






































