<!-- views/partials/head.ejs -->

<head>
  <meta charset="UTF-8">
  <title>Attorney Gap</title>
  <!-- Compiled and minified CSS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
<!--   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
 -->  
  <link rel='stylesheet' href='/materialize/bin/materialize.css' />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/materialize-clock/dist/css/materialize.clockpicker.css' />
  <link rel='stylesheet' href='/css/main.css' />
  
</head>