
<!-- views/partials/header.ejs -->

  <div class="col s12 user_nav center-align">
    <div class='user_nav_logo center-align'>
      <a href='/' class='brand-logo'>Attorney Gap</a>
    </div>  
  </div>
