
<!-- views/partials/header.ejs -->

  <div class='nav_bar'>
    <ul class ='nav_bar_menu'>
      <li class='nav_bar_menu_item'><a href='/'>Home</a></li>
      <li class='nav_bar_menu_item'><a href='/about'>About</a></li>
      <li class='nav_bar_menu_item'><a href='#'>Services</a></li>
      <li class='nav_bar_menu_item'><a href='#'>Contact</a></li>
    </ul>
  </div>