    
<!-- views/partials/user_appearance_search_nav.ejs -->

    <div class='white nav_user appearance_search'>
        <div>
          <form class='appearance_search_form'> 
            <div class='row'>
              <div class='col m2 s12 appearance_search_state'>
                <select>
                  <option value="" disabled selected>Select State</option>
                  <option value="1">Missouri</option>
                </select>
              </div>
              <div class='col m2 s12 appearance_search_county'>
                <select>
                  <option value="" disabled selected>Select County</option>
                  <option value="1">Butler</option>
                </select>
              </div>
              <div class='col m2 s12 appearance_search_date'>
                <input id='date' type='date' class='datepicker' placeholder='Date' name='appearance_search_date'>
              </div>
              <div class='col m4 s12 offset-m1 appearance_search_submit'>
                <input class="center-align waves-effect waves-light btn appearance_search_button" type="submit" value="Search Appearances">
              </div>
            </div>            
          </form>
        </div>
    </div>