<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  
  <header>
    <% include ../partials/nav_bar %>
  </header>
  
  <div class='container appearance_search'>
    
    <div class='row'>
    
      <form class='col s10 offset-s1 appearance_search_form'>
      
        <div class='appearance_search_fields'>
          
          <div class='row'>
            <div class='col s6'>
              <div class='row'>
                <div class="input-field col s8">
                  <select id='appearance_search_state'>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="1">Alabama</option>
                    <option value="2">Alaska</option>
                    <option value="3">Missouri</option>
                  </select>
                  <label>Materialize Select</label>
                </div>
              </div>
              <div class='row'>
                <div class="input-field col s8">
                  <input id="appearance_search_county" type="text" class="validate" name="county">
                  <label for="county">County</label>
                </div>
              </div>
              <div class='row'>
                <div class='col s8'>
                  <input type="date" class="datepicker">
                </div>
              </div>
              
              <div class='row'>
                <button class="center-align btn waves-effect waves-light grey darken-1" type="submit">Submit</button>
              </div>
            </div>
            
            <div class='col s6'>
              <div class='appearance_search_results'>
                
              </div>
            </div>
          </div>
          
          
          
          
        </div> 
      
        
      <form>
          
    
    </div>
    
  </div>
  
  
  <templates>
    <% include ../partials/templates %>
  </templates>
  
          
  <footer>
    <% include ../partials/footer %>
  </footer>
  
  
</body>


</html>