<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  
<!--   <header>
    include ../partials/nav_bar
  </header> -->
  
  <div class='home'>
  
    <div class="container white">
      <div class="row">
          <div class='home_headline'>
            <h1><strong>Attorney Gap</strong></h1> 
          </div>
          <div class='home_links'>
            <div class='col s12 m6 offset-m3'>
              <div class='home_signup'>
                <a href='/signup'>Sign Up</a>
              </div>
              <div class='home_signin'>
                <a href='/login'>Sign In</a>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="../../images/st-louis-old-courthouse.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Attorney Gap</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="../../images/old-courtroom-trial.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Services</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
    <div class="parallax-container">
      <div class="parallax"><img src="../../images/Butler.jpg"></div>
    </div>
    <div class="section white">
      <div class="row container">
        <h2 class="header">Contact</h2>
        <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
      </div>
    </div>
  
<!--     <div class='row valign-wrapper center-align'>
      
      <div class='col s12'>
        
        <div class='row'>
          <div class='home_headline'>
            <h1>Welcome to <em><strong>ad hoc</strong></em></h1> 
          </div>
        </div>
        
        <div class='row'>
          <div class='col s10 offset-s1 home_info'>            
            <em>ad hoc</em> provides the flexibility needed
            by Attorneys dealing with the complexities of scheduling court appearances.
            With <em>ad hoc</em>, Attorneys are able to remedy 
            scheduling conflicts by ensuring another qualified Attorney is able to 
            cover any conflicting court appearances. 
          </div>
        </div>
      
        <div class='row'>
        
          <div class='home_links'>
          
            <div class='col s3 offset-s3'>
              <div class='home_signup'>
                <a href='/signup'>Sign Up</a>
              </div>
            </div>
            
            <div class='col s3'>
              <div class='home_signin'>
                <a href='/login'>Sign In</a>
              </div>
            </div>
            
          </div>
        </div> 
            
      </div>
    </div> -->
      
  </div> 
            
  <footer>
    <% include ../partials/footer %>
  </footer>
  
  
</body>


</html>