<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  
  <header>
    <% include ../partials/nav_bar %>
  </header>
  
  <div class='container home'>
  
    <div class='row valign-wrapper center-align'>
      
      <div class='col s12'>
        
        <div class='row'>
          <div class='home_headline'>
            <h1>Welcome to <em>ad hoc</em> Appearance Services</h1> 
          </div>
        </div>
        
        <div class='row'>
          <div class='col s10 offset-s1 home_info'>            
            <em>ad hoc</em> Appearance Services provides the flexibility needed
            by Attorneys dealing with the complexities of scheduling court appearances.
            With <em>ad hoc</em> Appearance Services, Attorneys are able to remedy 
            scheduling conflicts by ensuring another qualified Attorney is able to 
            cover any conflicting court appearances. 
          </div>
        </div>
      
        <div class='row'>
        
          <div class='home_links'>
          
            <div class='col s3 offset-s3'>
              <div class='home_signup'>
                <a href='/signup'>Sign Up</a>
              </div>
            </div>
            
            <div class='col s3'>
              <div class='home_signin'>
                <a href='/login'>Sign In</a>
              </div>
            </div>
            
          </div>
        </div> 
            
      </div>
    </div>
      
  </div> 
            
  <footer>
    <% include ../partials/footer %>
  </footer>
  
  
</body>


</html>