<!DOCTYPE html>
<html lang="en">

<head>
  <% include ../partials/head %>
</head>

<body>
  
  <header>
    <% include ../partials/nav_bar %>
  </header>
  
  <div class='container hero'>
  
    <div>
      <% include ../partials/user_nav %>
    </div>

    <div>
      <% include ../partials/user_appearance_search_nav %>
    </div>
    
    <div class='row '>
      
    </div>
    
    
  </div>
        
  <footer>
    <% include ../partials/footer %>
  </footer>
  
  
</body>


</html>